.loginrequest-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.loginrequest-modal {
  width: 320px;
  background-color: white;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.loginrequest-close {
  position: absolute;
  right: 0px;
  top: 5px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #000;
}

.loginrequest-message {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.38px;
  margin-bottom: -8px;
  text-align: left;
}

.loginrequest-submessage {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
  margin-bottom: 12px;
  text-align: left;
}

.loginrequest-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 카카오 로그인 버튼 (노란색) */
.loginrequest-kakao-btn {
  padding: 12px;
  border-radius: 8px;
  background: #FFCD50;
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.38px;
  border: none;
  cursor: pointer;
}

/* 회원가입 버튼 (빨간색) */
.loginrequest-signup-btn {
  padding: 12px;
  border-radius: 8px;
  background: #FF2824;
  color: #FFF;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.38px;
  border: none;
  cursor: pointer;
}
