.assist-countdown {
  margin-top: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 45px;
}

.assist-countdown-text {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
  white-space: pre-line;
}

.assist-countdown-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  width: 100%;
}

.assist-countdown-time {
  margin: 0 auto;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.456px;
  width: fit-content;
}

.assist-bomb {
  position: absolute;
  left: 58%;
  top: 30%;
  transform: translateY(-50%) translateX(30px);
  height: 112px; /* 필요시 조정 */
}

.assist-party-block {
  display: flex;
  width: 354px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: var(--Grayscale0, #FFF);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto; /* 가운데 정렬 */
}

.assist-party-img-wrap {
  position: relative;
  margin-top: 12px;
  margin-left: 12px;
}


.assist-party-img {
  width: 330px;
  height: 251px;
  border-radius: 8px;
}

.assist-location-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  padding: 4px 10px;
}

.assist-location-badge img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.assist-location-badge span {
  margin-top: 4px;
  margin-right: 6px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.assist-partyName {
  margin-left: 19.5px;
  font-family: Pretendard;
  font-weight: 600; /* SemiBold weight */
  font-size: 18px;
  line-height: 150%; /* 1.5배 */
  letter-spacing: -1.9%;
  margin-bottom: 5px;
}

.assist-date {
  margin-left: 19.5px;
  margin-bottom: 3px;
}

.assist-dateText {
  margin-left: 10px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1.9%;
  position: relative;
  top: -3px;
}

.assist-person {
  margin-left: 19.5px;
}

.assist-profile-icons {
  display: flex;
  margin-left: 19px;
  margin-bottom: 14px;
}

.assist-profile-icon {
  width: 42px;
  height: 42px;
  margin-left: -10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0 1px #eee;
}

.assist-party-container {
  width: 100%;
  touch-action: pan-y;
}

.assist-indicators {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 23px;
}

.assist-indicator {
  width: 40px;
  height: 6px;
  background-color: #E0E0E0;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.assist-indicator-active {
  background-color: #FF2824;
}
