.participants-back-btn {
  position: fixed;
  top: 39px;
  left: 50%;
  transform: translateX(-192px);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.participants-spaceExpansion-top {
  margin-top: 105px;
}

.participants-list {
  margin-top: 72px;
  padding: 0 16px;
}

.participant-block {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
  padding: 16px;
}

.participant-profile-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participant-profile-img {
  width: 113px;
  height: 113px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.participant-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.participant-name {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: -0.342px;
}

.participant-message {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}

.participant-tags {
  display: flex;
  gap: 8px;
  margin-top: 21px;
  flex-wrap: wrap;
}

.participant-tag {
  background: #FFCD50;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
  border-radius: 8px;
  padding: 4px 10px;
}

.participant-report-btn {
  display: flex;
  width: 113px;
  height: 30px;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--grayscale500, #7B7B7B);
  color: var(--Grayscale0, #FFF);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}

.participants-spaceExpansion {
  margin-top: 180px; /*아래로 끝까지 스크롤 해도 요소들이 다 보일 수 있도록 공간을 띄움*/
}
